<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="0px" fxLayoutAlign="space-evenly stretch"
  style="padding: 10px 10px;">
  <div *ngFor="let d of datasource" fxFlex="50" fxFlex.sm="50" fxFlex.lt-md="50" style="padding: 10px 10px;">
    <app-charts [chartTitle]="d.chartTitle" [chartData]="d.chartData" [chartLabels]="d.chartLabels" height="150" width="150"
      [chartLegend]="chartLegend" [chartType]="chartType" [chartOptions]="chartOptions" [chartColors]="chartColors"></app-charts>
  </div>
</div>
