<mat-card>
  <mat-card-header>
    <mat-card-title style="font-size: medium; text-align: center !important;"> {{chartTitle}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="display: block">
      <canvas [chartType]="chartType" baseChart [width]="width" [height]="height" [datasets]="chartData"
        [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend" [colors]="chartColors">
      </canvas>
    </div>
  </mat-card-content>
</mat-card>
