<mat-card>
  <mat-card-header>
    <mat-card-title>Register Missed Read Meter Count - Aging</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="display: block">
      <canvas baseChart width="400" height="300" [datasets]="barChartData" [labels]="barChartLabels"
        [options]="barChartOptions" [legend]="barChartLegend" [colors]="barChartColors" [chartType]="barChartType">
      </canvas>
    </div>
  </mat-card-content>
</mat-card>
