#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // z-index: 0;
  background-color: rgb(255, 255, 255);
}

// :host {
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
//   // margin: 100px 0px;
// }

// .mat-form-field {
//   width: 100%;
//   min-width: 300px;
// }

// mat-card-title,
// mat-card-content {
//   display: flex;
//   justify-content: center;
// }

// .error {
//   padding: 16px;
//   width: 300px;
//   color: white;
//   background-color: red;
// }

// .button {
//   display: flex;
//   justify-content: flex-end;
// }
