<div id="particles-js"></div>

<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <mat-card fxFlex.sm="35" fxFlex="25" fxFlex.xs="90" class="mat-elevation-z1">
      <mat-card-title>Login to SMF4U</mat-card-title>

      <mat-card-content fxLayout="column">
          <mat-form-field>
              <input matInput placeholder="Username">
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Password" type="password">
          </mat-form-field>
      </mat-card-content>

      <button mat-raised-button type="submit" color="primary" (click)="signIn()">Login</button>
  </mat-card>
</div>

<!-- <div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="50" fxFlex.lt-xs="100" style="padding: 5px;">
    <mat-card>
      <mat-card-title>Login to SMF</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Username" formControlName="username">
            </mat-form-field>
          </p>
    
          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </p>
    
          <p *ngIf="error" class="error">
            {{ error }}
          </p>
    
          <div class="button">
            <button type="submit" mat-raised-button (click)="signIn()">Login</button>
          </div>
    
        </form>
      </mat-card-content>
    </mat-card>

    <button type="submit" mat-raised-button (click)="signIn()">Login</button>
  </div>
</div> -->
