<mat-card>
  <mat-card-header class="kpi-header">
    <div mat-card-avatar class="kpi-icon">
      <mat-icon [ngStyle]="{'color': color}" class="avatar-icon">{{icon}}</mat-icon>
    </div>
    <mat-card-title class="kpi-value" *ngIf="isNumber">{{value | number}}</mat-card-title>
    <mat-card-title class="kpi-value" *ngIf="isPercent">{{value}}%</mat-card-title>
    <!-- <mat-card-title class="kpi-value" *ngIf="!isNumber">{{value | number}}</mat-card-title> -->
  </mat-card-header>
  <mat-card-content>
    <p class="kpi-title">{{title}}</p>
  </mat-card-content>
</mat-card>
