.kpi-header {
  justify-content: center;
  align-items: center;
}

.kpi-title {
  text-align: center;
  font-weight: 500;
}

.kpi-icon {
  margin-left: 10px;
  margin-top: 5px;
  transform: scale(1);
}

.kpi-value {
  text-align: center;
  margin-left: -20px;
}


// .dashboard-card {
//   // position: absolute;
//   // top: 15px;
//   // left: 15px;
//   // right: 15px;
//   // bottom: 15px;
//   display: flex;
//   flex-direction: column;
// }

// .value-text {
//   margin-left: -10px;
//   margin-top: 10px;
// }

// .title-text {
//   // font-weight: 100;
//   margin: 0;
//   text-align: center;
//   color: grey;
// }

// .avatar-icon {
//   margin: 10px;
//   font-size-adjust: 10px;
//   transform: scale(2);
// }

// .duration {
//   color: grey;
// }

// .difference-text {
//   text-align: center;
//   margin-top: 10px;
// }

// .card-icon {
//   margin-right: 15px;
// }

// .card-header {
//   justify-content: center;
// }

// .green-text {
//   color: green;
// }

// .red-text {
//   color: red;
// }
