<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex="80" fxFlex.md="80" fxFlex.sm="100" fxFlex.xs="100" fxFlex.lt-xs="100" style="padding: 5px;">
    <mat-card>
      <mat-card-header style="display: flex; justify-content: center;">
      <mat-card-title>Master Data Reconiciliation Summary</mat-card-title>
      </mat-card-header>
      <mat-card-content style="display: flex; justify-content: center;">
        <div style="display: block;">
          <canvas (chartClick)="chartClicked($event)" #chart [chartType]="chartType" baseChart width="600" height="400"
            [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend"
            [colors]="chartColors">
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="80" fxFlex.md="80" fxFlex.sm="100" fxFlex.xs="100" fxFlex.lt-xs="100" style="padding: 5px;">
    <mat-card class="table-card">
      <mat-card-header>
        <mat-card-title>Master Data Reconiciliation Detail<span class="spacer"></span>
          <button mat-icon-button aria-label="Export to Excel" matTooltip="Export to XLSX"
            (click)="exporter.exportTable('xlsx', {fileName: 'MUDRDetail'})">
            <mat-icon>get_app</mat-icon>
          </button>
        </mat-card-title>
        <mat-card-subtitle style="color: chocolate;" *ngIf="showFilteredFlag">Table filtered for {{ filterValue }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="mdr-table-container">
          <!-- mat-elevation-z8 -->
          <!-- <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. HES" #input />
          </mat-form-field> -->

          <table mat-table [dataSource]="dataSource" matSort class="mdr-table" matTableExporter
            #exporter="matTableExporter" style="width:100%;">

            <ng-container matColumnDef="acc-no">
              <th mat-header-cell mat-sort-header *matHeaderCellDef> Account Number </th>
              <td mat-cell *matCellDef="let element">
                <a mat-stroked-button href="https://www.google.com/" color="accent" target="_blank">{{element.ACCOUNT_NUMBER}}</a>
              </td>
            </ng-container>

            <ng-container matColumnDef="commodity">
              <th mat-header-cell *matHeaderCellDef> Commodity </th>
              <td mat-cell *matCellDef="let element"> {{element.COMMODITY}}</td>
            </ng-container>

            <ng-container matColumnDef="meter-status">
              <th mat-header-cell *matHeaderCellDef> Meter Status </th>
              <td mat-cell *matCellDef="let element"> {{element.METER_STATUS}} </td>
            </ng-container>

            <ng-container matColumnDef="meter-no">
              <th mat-header-cell *matHeaderCellDef> Meter Number </th>
              <td mat-cell *matCellDef="let element"> {{element.METER_NUMBER}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> STATUS_MISSING_METERS </th>
              <td mat-cell *matCellDef="let element"> {{element.STATUS_MISSING_METERS}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{filterValue}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons class="mat-paginator-sticky"></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
