<!-- <app-layout></app-layout> -->
<router-outlet></router-outlet>
<!-- <router-outlet name="home"></router-outlet>
<router-outlet name="sign-in"></router-outlet> -->
<ng-http-loader spinner="sk-wave"></ng-http-loader>