<mat-card *ngIf="isDataAvailable">
  <mat-card-header>
    <mat-card-title>Power & Load Status</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="display: block">
      <canvas baseChart [chartType]="chartType" width="300" height="400" [data]="chartData"
        [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend" [colors]="chartColors">
      </canvas>
    </div>
  </mat-card-content>
</mat-card>
