<mat-card>
  <mat-card-header>
    <mat-card-title>Register Missed Read Meter Count</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="display: block">
      <canvas baseChart width="400" height="300" [datasets]="lineChartData" [labels]="lineChartLabels"
        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType">
      </canvas>
    </div>
  </mat-card-content>
</mat-card>
