<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="0px" fxLayoutAlign="space-evenly stretch"
  style="padding: 10px 10px;">
  <div *ngFor="let d of oKPIData" fxFlex="20" fxFlex.lt-md="33" style="padding: 10px 10px;">
    <app-card [matTooltip]="d.tooltip" [icon]="d.icon" [title]="d.title" [value]="d.value" [color]="d.color" [isNumber]="d.isNumber" [isPercent]="d.isPercent"></app-card>
  </div>
</div>
<!-- <ng-http-loader [backdrop]="false" [backgroundColor]="'#ff0000'" [debounceDelay]="100" [extraDuration]="300"
  [minDuration]="300" [opacity]=".6" [spinner]="spinkit.skWave"></ng-http-loader> -->


<!-- Graphs -->
<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex="50" fxFlex.md="50" fxFlex.sm="80" fxFlex.xs="100" fxFlex.lt-xs="100" style="padding: 5px;">
    <app-miss-read-trend></app-miss-read-trend>
  </div>

  <div fxFlex="50" fxFlex.md="50" fxFlex.sm="80" fxFlex.xs="100" fxFlex.lt-xs="100" style="padding: 5px;">
    <app-miss-read-aging></app-miss-read-aging>
  </div>
</div>


<!-- Table -->
<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="100" fxFlex.lt-xs="100" style="padding: 5px;">
    <app-missread-detail></app-missread-detail>
  </div>
</div>
