<!-- <div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div> -->

<mat-card class="table-card">
  <mat-card-header>
    <mat-card-title>Missed Read Details<span class="spacer"></span>
      <button mat-icon-button aria-label="Export to CSV" matTooltip="Export to CSV"
        (click)="exporter.exportTable('xslx', {fileName: 'MissedReadDetail'})">
        <mat-icon>get_app</mat-icon>
      </button>
    </mat-card-title>

  </mat-card-header>
  <mat-card-content>

    <div class="miss-read-table-container">
      <table mat-table [dataSource]="dataSource" matSort class="miss-table" matTableExporter
        #exporter="matTableExporter">

        <ng-container matColumnDef="custid">
          <th mat-header-cell mat-sort-header *matHeaderCellDef sticky> Cust. ID </th>
          <td mat-cell *matCellDef="let element"> {{element.CUSTOMER_ID}} </td>
        </ng-container>
        
        <ng-container matColumnDef="cust-class">
          <th mat-header-cell mat-sort-header *matHeaderCellDef sticky> Cust. Class </th>
          <td mat-cell *matCellDef="let element"> {{element.CUSTOMER_CLASS}} </td>
        </ng-container>

        <ng-container matColumnDef="meterid">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Meter ID </th>
          <td mat-cell *matCellDef="let element">
            <a mat-stroked-button href="https://www.google.com/" target="_blank" color="accent"> {{element.METER_ID}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="order-type">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Service Order Type </th>
          <td mat-cell *matCellDef="let element"> 
            <a mat-stroked-button href="https://www.google.com/" target="_blank" color="accent">{{element.SERVICE_ORDER_TYPE}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="activation-status">
          <th mat-header-cell *matHeaderCellDef> Activation Status </th>
          <td mat-cell *matCellDef="let element"> {{element.ACTIVATION_STATUS}} </td>
        </ng-container>

        <ng-container matColumnDef="bill-cycle">
          <th mat-header-cell *matHeaderCellDef> Billing Cycle </th>
          <td mat-cell *matCellDef="let element"> {{element.BILLING_CYCLE}} </td>
        </ng-container>


        <ng-container matColumnDef="last-read-date">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Last Read Date </th>
          <td mat-cell *matCellDef="let element"> {{element.LAST_READ_DATE | date: 'short'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons class="mat-paginator-sticky"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
