.miss-table {
  width: 800px;
}

.miss-read-table-container {
  height: 400px;
  width: 100%;
  overflow: auto;
}

.mat-paginator-sticky {
  width: 100%;
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-header-cell,
.mat-footer-cell,
.mat-cell {
  // min-width: 80px;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {

  .mat-header-cell,
  .mat-footer-cell,
  .mat-cell {
    // min-width: 80px;
    box-sizing: border-box;
  }
}
