<mat-tab-group animationDuration="2000ms">

  <!-- Summary Tab -->
  <mat-tab label="Summary">

    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="0px" fxLayoutAlign="space-evenly stretch"
      style="padding: 10px 10px;">
      <div *ngFor="let d of oKPIData" fxFlex="25" fxFlex.lt-md="50" fxFlex.xs="100" style="padding: 10px 10px;">
        <app-card [icon]="d.icon" [title]="d.title" [value]="d.value" [color]="d.color" [isNumber]="d.isNumber">
        </app-card>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="80" fxFlex.md="80" fxFlex.sm="100" style="padding: 5px;">
        <app-power-load-status></app-power-load-status>
      </div>
    </div>
    <!-- <app-attr-charts></app-attr-charts> -->

    <!-- <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100" fxFlex.lt-xs="100" style="padding: 5px;">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div *ngFor="let d of oKPIData" fxFlex="50" fxFlex.lt-md="33" fxFlex.lt-sm="50" fxFlex.xs="100"
            style="padding: 10px 10px;">
            <app-card [icon]="d.icon" [title]="d.title" [value]="d.value" [color]="d.color" [isNumber]="d.isNumber">
            </app-card>
          </div>
        </div>
      </div>

      <div fxFlex="50" fxFlex.md="50" fxFlex.sm="80" fxFlex.xs="100" fxFlex.lt-xs="100" style="padding: 5px;">
        <app-power-load-status></app-power-load-status>
      </div>
    </div> -->

    <app-attr-charts></app-attr-charts>
  </mat-tab>

  <!-- Detail Tab -->
  <mat-tab label="Detail">

    
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="100" fxFlex.lt-xs="100" style="padding: 5px;">
        <app-mdr-detail></app-mdr-detail>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
