@import '~@angular/material/theming';

@include mat-core();

/************************
 Theming section
************************/

// Custom themable components
// @import "app/sidenav/sidenav.component";
@mixin custom-components-theme($theme) {
//   @include sidenav-theme($theme);
}

// Light theme
$light-primary: mat-palette($mat-light-blue, 800, 200, 900);
$light-accent:  mat-palette($mat-blue, 600, 100, 400);
$light-theme:   mat-light-theme($light-primary, $light-accent);

.light-theme {
  @include angular-material-theme($light-theme);
  @include custom-components-theme($light-theme);
}

// Dark theme
$dark-primary: mat-palette($mat-grey, 900, 400, 900);
$dark-accent:  mat-palette($mat-amber, A100, A300, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-components-theme($dark-theme);
}

/************************
 Default global styles
************************/
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
  }

  ::-webkit-scrollbar-trackhorizontal
  {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
  
 ::-webkit-scrollbar
  {
    width: 4px;
    height: 4px;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb
  {
    background-color: #8a8a8a;
    border-radius: 10px;
  }