<mat-drawer-container>
  <mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches"
    [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
    <div class="sidenav-header" color="primary">
      <span>{{collapsedNav && !mobileQuery.matches ? 'S' : 'SMF4U'}}</span>
    </div>
    <!-- <ul>
      <li routerLink="" matTooltip="Missing Reads Sumamry">
        <mat-icon>dashboard</mat-icon>{{collapsedNav && !mobileQuery.matches ? '' : 'Missing Reads Sumamry'}}
      </li>
      <li routerLink="mdr" matTooltip="MD Reconciliation">
        <mat-icon>sync_alt</mat-icon>{{collapsedNav && !mobileQuery.matches ? '' : 'MD Reconciliation'}}
      </li>
    </ul> -->
    <div>
      <mat-nav-list [ngClass]="{'mat-item-collapsed': collapsedNav && !mobileQuery.matches}">
        <a mat-list-item routerLink="dashboard" routerLinkActive="active-list-item">
          <mat-icon style="padding-right:5px;" matTooltip="Dashboard">dashboard</mat-icon>
          <span>{{collapsedNav && !mobileQuery.matches ? '' : 'Miss Reads Summary'}}</span>
        </a>
        <a mat-list-item routerLink="mdrecon" routerLinkActive="active-list-item">
          <mat-icon style="padding-right:5px;" matTooltip="Meter Reconciliation">sync_alt</mat-icon>
          <span>{{collapsedNav && !mobileQuery.matches ? '' : 'Meter Reconciliation'}}</span>
        </a>
      </mat-nav-list>
    </div>
  </mat-drawer>

  <mat-drawer-content [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">

    <mat-toolbar color="primary" style="position: sticky;top: 0;z-index: 1000;">
      <button mat-icon-button (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="spacer"></span>
      <h3>Smart Meter Analytics</h3>

      <span class="spacer"></span>
      <button mat-icon-button matTooltip="Last Update Time {{LastAccessTime}}">
        <mat-icon>access_time</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="themeMenu" matTooltip="Change theme">
        <mat-icon>format_color_fill</mat-icon>
      </button>
      <mat-menu #themeMenu="matMenu">
        <button mat-menu-item (click)="changeTheme('light-theme', snav)">Light</button>
        <button mat-menu-item (click)="changeTheme('dark-theme', snav)">Dark</button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Username">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item matTooltip="Sign Out" (click)="signOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Sign Out</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
