mat-drawer-container {
  height: 100%;
}

mat-drawer,
mat-drawer-content {
  transition-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-duration: .4s;
  transition-timing-function: cubic-bezier(.25, .8, .25, 1);
}

.mat-item-collapsed {
  justify-content: center;
}

.active-list-item {
  color: #3F51B5 !important;
  background-color: #e5e0e0;
}

.active-list-item:focus {
  color: #3F51B5 !important;
  background-color: #e5e0e0;
}

mat-drawer {
  width: 250px;
  background-color: #323236;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%2373adff' stroke-width='100' stroke-opacity='0' %3E%3Ccircle fill='%238ca5ff' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23859cf2' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%237e93e5' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23768ad8' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%236f81cb' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%236879bf' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%236170b2' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%235a67a5' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23535e98' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%234b558b' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23444c7e' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%233d4371' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23363a64' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%232f3258' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2328294b' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2320203e' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23191731' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23120e24' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  transition-property: width;

  &.sidenav-collapsed {
    width: 80px;
  }

  //   &.mat-item-collapsed {
  //     justify-content: center;
  //   }

  .sidenav-header {
    background-color: #0477b9;
    height: 64px;
    display: grid;
    justify-content: center;
    align-items: center;

    span {
      font-size: 2em;
      color: #ffffff;
    }
  }

  ul {
    padding: 0;

    li {
      //   display: grid;
      justify-content: center;
      align-items: center;
      //   color: #ffffff;
      list-style: none;
      //   cursor: pointer;
      margin: 10px;
      padding: 10px;
      //   background-color: #000000;
      border-radius: 5px;
    }
  }
}

// .sidenav-content {
//   ul {
//     list-style: none;
//     margin: 0;
//     padding: 0;

//     li {
//       button.mat-button {
//         // height: 3rem;
//         line-height: 2.8rem;
//         text-align: left;
//         width: 100%;
//         font-size: 1rem;

//         mat-icon.mat-icon.material-icons {
//           float: left;
//           line-height: 2.7rem;
//           padding-right: 1rem;
//         //   color: mat-color($foreground, text);
//         }
//       }
//     }
//   }
// }

mat-drawer-content {
  transition-property: transform, margin-left, margin-right;

  &.sidenav-collapsed {
    margin-left: 80px !important;
  }
}

mat-card {
  margin: 10px;
}

@media (max-width: 600px) {
  mat-toolbar {
    flex-direction: row-reverse !important;
  }
}
